body{

background-color: black;


header{
    display: flex;
    background-color: rgb(85, 85, 194);
    justify-content: space-around;
     padding: 20px;
}
    
    .cabecalho_imagem{
        width: 200px;
        height: 200px
        border-radius: 50%;
    }